.App {
  text-align: center;
}

.customNav{
 
    z-index: 10;
    width: 100%;
    /* position: fixed; */
    background:rgba(243, 243, 243, 0.89);
    box-sizing: border-box;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    padding: 5px 15px;
    
}
.logo img{
  display: inline-flex;
  display: flex;
  width: 48px;
  height: 25px;
  cursor: pointer;
}

.customNav input{
  height: 40px;
  outline: 0;
  border-width: 0;
  font-size: 16px;
  color: #002f34;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #fff;
  padding: 0 0 0 16px

}

.btn-dropdown{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background: none;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;

}

.location-item{
  display: flex;
  align-items: center;
  height: 48px;
  background: #fff;
  padding: 0 8px;
  box-sizing: border-box;
  border: 2px solid #002f34;
  border-radius: 4px;
}


.search-span1 {
  width: 48px;
  height: 48px;
  padding: 20px 0px 5px 0px;
}

.location-item1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  background: #fff;
  padding: 0 0px;
  box-sizing: border-box;
  border: 2px solid #002f34;
  border-radius: 4px;
  margin: 0 10px 0 20px;
}

.location-item1  input{
  width: 100%;

}

.location-item1 input:focus{
  border: 2px solid #5DEEEB !important; 
  outline: #5DEEEB !important;

}
.search-span2{
  width: 0 auto;
  height: 0 auto;
  padding: 5px 7px;
  color: white ;
  cursor: pointer;
  background-color: #002f34 ;
}

.user-section{
  display: flex;
  
}
.user-icon{
  background-color: rgba(243, 243, 243, 0.89);
  border-style: none;
  outline: none;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
  margin-left: 8px;
  margin-top: auto;
}
.user-icon:hover{
  background-color: #7ee6e0;
  border-radius: 50%;
}
.user-icon1{
  background-color: rgba(243, 243, 243, 0.89);
  border-style: none;
  outline: none;
  padding: 9px 0px 0px 21px;
  cursor: pointer;
}
.sell-icon{
  font-size:15px;
  font-weight: 600;
  background-color: #ffff;
  border-style: solid;
  border-color: #5DEEEB #ffd12d #0482ff;
  border-width: 5px;
  box-shadow: 2px 2px 8px 5px rgba(167, 166, 166, 0.2)  ;
  border-radius: 44%;
  /* padding: 2px 14px 2px 14px; */
  padding: 8px 15px;
  margin-left: 24px;
  margin-top: 5px;
  cursor: pointer;
}

.Child-Navbar{
  display: flex;
  margin-top: 15px;
  width: 100%;
  position: absolute;

}

.zero{
  text-align: left;
}

.banner-section{
  background-image: url(./components/banner.jpg);
  height: 252px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 1;
}
.allcat-icon{
  font-size: 34px;
  top:0px;
  color:#002f34;
  cursor: pointer;
}

.items-cat button{
  border-style: none;
  background-color: #fff;
  color: #002f34;
  cursor: pointer;
}
.items-cat button:hover{
  color:#1ea19f;
}
.items-cat{
  margin-left: 10px;
}